body {
  font-family: "Arial", sans-serif;
}

.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("path-to-your-image.jpg") center/cover no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 20px;
}

.section-carousel,
.section-pricing,
.section-contact,
.section-testimonials {
  background: linear-gradient(
      rgba(215, 209, 209, 0.5),
      rgba(204, 202, 202, 0.5)
    ),
    url("images/hero-image.jpg") center/cover no-repeat;
  padding: 60px 0;
  color: black;
  text-align: center;
}

.img-thumbnail {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: transform 0.2s;
}

.img-thumbnail:hover {
  transform: scale(1.1);
}

.card {
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.btn-primary {
  transition: background-color 0.3s, color 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3;
  color: #fff;
}

.progress {
  background-color: #f3f3f3;
}

.progress-bar {
  background-color: #007bff;
}

footer {
  background-color: #f8f9fa;
  padding: 20px 0;
}

footer p {
  margin: 0;
}

.btn-social img {
  width: 24px;
  height: auto;
  margin: 0 10px;
}
